<!-- appointment template -->

<div id="appointments-div" data-id="{{id}}">
  <td>{{name}}</td>
  <td>{{lastname}}</td>
  <td>{{email}}</td>
  <td>{{date}}</td>
  <td>{{provider_name}}</td>
  <button type="button" class="appointmentEditButton" data-id="{{dataId}}" name="editButton">Edit</button>
  <button type="button" class="appointmentsDeleteButton" data-id="{{dataId}}" name="deleteButton">Delete</button>
</div>
