<div id="appointments-div" class="appointments-div" data-id="{{dataId}}">
  <td>{{name}}</td>
  <td>{{lastname}}</td>
  <td>{{email}}</td>
  <td>{{date}}</td>
  <!-- <td>{{provider_id}}</td> -->
  <button type="button" class="appointmentEditButton" data-id="{{dataId}}" name="editButton">Edit</button>
  <button type="button" class="appointmentDeleteButton" data-id="{{dataId}}" name="deleteButton">Delete</button>
</div>
